* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #191765;
  background-image: url(img/elipse.svg);
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.logo {
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  padding: 15px;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.wrap {
  flex: 1;
}

main {
  margin-bottom: 50px;
}

.menus,
.fa-envelope {
  display: none;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  flex-direction: column;
  background-image: url(img/ellipse19.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.hero h1 {
  color: #7d73fc;
  font-size: 2.2rem;
  text-align: center;
}

.tag {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-align: center;
}

.decription {
  text-align: center;
  line-height: 1.5em;
  color: #c8c8d4;
  font-size: 18px;
  padding: 0 20px 35px;
  font-family: 'Roboto', sans-serif;
}

ul .btw-space {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 2em;
}

ul li i {
  margin-right: 1em;
}

.abilities {
  display: flex;
  margin: 3rem 0;
  font-size: 14px;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style: none;
}

form ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
  border-bottom: 1px solid #3a3837;
  align-items: center;
}

.tools ul {
  margin: 10% 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 14px;
}

.socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.abilities ul {
  margin-top: 2rem;
  margin-right: 3rem !important;
  justify-content: center;
  font-size: 17px;
}

/* .abilities ul {
  margin-top: 0.7rem;
  margin-right: 1rem;
} */

footer p {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.abilities p {
  color: #7d73fc;
  font-size: 14px;
}

.socials {
  display: block;
  margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
}

.socials i {
  padding: 5px;
  font-size: 25px;
}

.first-social {
  display: none !important;
}

.point-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.work {
  padding-left: 8px;
  font-size: 25px;
}

.fa-arrow-down {
  font-size: 20px;
}

.recent-work {
  display: flex;
  flex-wrap: wrap;
  background-image: url(img/ellipse20.svg), url(img/ellipse21.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 22em, right;
}

.recent-work h1 {
  font-size: 2.5rem;
  color: #7d73fc;
  line-height: 52px;
  margin: 5rem 3rem 0 1rem;
  padding-bottom: 30px;
}

.line-divider2 {
  width: 307px;
  margin: 0 auto;
}

.proof {
  width: 327px;
  margin: auto;
}

.proof-space {
  margin-bottom: 60px;
  margin-top: 60px;
}

img {
  width: 100%;
  height: 100%;
}

.project-img {
  height: 15em;
}

.proof h2 {
  font-size: 28px;
  margin: 40px 0 40px 0;
}

.proof p {
  font-size: 17px;
  line-height: 1.5em;
  color: #c8c8d4;
}

.line {
  text-align: center;
  border-right: 1px solid #646369;
  margin-right: 20px;
}

.project-link,
.btn-submit {
  background-color: #7d73fc;
  padding: 15px 15px;
  font-size: 12px;
}

.project-link:hover {
  background-color: #7d73fc;
  color: #fff;
  font-weight: 700;
}

.project-link:active {
  background-color: #5e42d7;
  color: #fff;
}

form ul li {
  padding-bottom: 20px;
}

input,
textarea {
  width: 327px;
  height: 48px;
  padding: 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

textarea {
  height: 200px;
}

.btn-submit {
  border: none;
  padding: 15px 25px;
  color: #fff;
}

footer {
  margin-bottom: 10%;
  width: 100%;
}

.footer-socials ul {
  margin-bottom: 5px;
  display: flex;
  font-size: 25px;
  justify-content: center;
}

.form-section {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 4rem;
}

.form-section h1 {
  color: #7d73fc;
  margin-bottom: 1rem;
  font-size: 32px;
}

.form-section p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 2rem;
  padding: 0 20px;
}

.btn-submit:disabled {
  background-color: #000;
  color: #fff;
}

@media only screen and (min-width: 600px) {
  body {
    width: 100%;
  }

  h1 {
    text-align: center;
  }

  .recent-work {
    width: 50%;
    margin: 0 auto;
    background-image: none;
  }

  img {
    width: 100%;
  }

  .project-img {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  body {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-image:
          url(img/circle1.svg),
          url(img/circle2header.svg);
          background-size: 12%;
          background-position: 120px 170px, 1080px 460px;
  }

  main {
    width: 80%;
    margin: 0 auto;
  }

  .menus,
  .fa-envelope {
    display: inline-flex;
  }

  .fa-bars {
    display: none;
  }

  .menus li {
    padding: 0 13px;
    font-size: 18px;
  }

  .hero {
    margin-top: 7rem !important;
    background-image: none !important;
  }

  .hero h1 {
    color: #7d73fc;
    font-size: 4rem !important;
  }

  .decription {
    width: 80%;
    font-size: 20px;
    line-height: 32px;
    margin-top: 2rem;
  }

  .line-divider {
    width: 75%;
  }

  .abilities {
    display: flex;
    margin-left: 6rem;
    font-size: 14px;
    flex-wrap: wrap;
  }

  .title {
    font-size: 18px !important;
  }

  .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
  }

  .socials ul li {
    padding-bottom: 45px;
    font-size: 20px;
  }

  .first-social {
    display: flex !important;
  }

  .work {
    padding-left: 8px;
    font-size: 20px;
  }

  .line-divider2 {
    width: 100% !important;
  }

  .recent-work {
    display: block;
    width: 100%;
    background-image: none !important;
  }

  .recent {
    margin-bottom: 0;
  }

  .proof {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .proof img {
    width: 400px;
    height: 300px;
    margin-right: 1rem;
  }

  .proof-space {
    margin-bottom: 60px;
    margin-top: 20px;
  }

  .proof p {
    font-size: 16px;
    line-height: 1.5em;
    color: #c8c8d4;
    margin: 10px 0;
  }

  .inner-element {
    width: 100%;
  }

  .proof h2 {
    font-size: 28px;
    margin: 0;
  }

  .tools ul {
    margin: 5% 0;
    font-size: 14px;
  }

  .grid-version {
    display: grid;
    grid-template-columns: 55% 45%;
  }

  .item1 {
    order: 1;
  }

  footer {
    margin-top: 5%;
    width: 100%;
  }
}
