* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #191765;
  background-image: url(img/elipse.svg);
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem 1rem 0;
}

.nav-menu li {
  padding: 30px 30px;
  margin-top: 30px;
  font-size: 30px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.close {
  display: none;
  z-index: 9999;
  cursor: pointer;
  font-size: 40px;
}

.hamburger {
  z-index: 9999;
  cursor: pointer;
  color: #fff;
}

header {
  display: flex;
  padding: 15px;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 0;
  padding-left: 0;
  list-style: none;
  flex-direction: column;
  background: #191765;
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 16px;
  line-height: 300%;
  height: 100vh;
  padding-top: 80px;
}

.nav-item {
  display: flex;
  justify-content: space-between;
}

.nav-menu.active {
  left: 0;
}

.fa-times {
  display: none;
}

#icon {
  z-index: 1;
}

main {
  margin-bottom: 50px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  flex-direction: column;
  background-image: url(img/ellipse19.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.hero h1 {
  color: #7d73fc;
  font-size: 2.2rem;
  text-align: center;
}

.tag {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-align: center;
}

.decription {
  text-align: center;
  line-height: 1.5em;
  color: #c8c8d4;
  font-size: 18px;
  padding: 0 20px 35px;
  font-family: 'Roboto', sans-serif;
}

ul .btw-space {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 2em;
}

ul li i {
  margin-right: 1em;
}

.abilities {
  display: flex;
  margin: 3rem 0;
  font-size: 14px;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style: none;
}

form ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
  border-bottom: 1px solid #3a3837;
  align-items: center;
}

.tools ul {
  margin: 10% 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 14px;
}

.socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.abilities ul {
  margin-top: 2rem;
  margin-right: 3rem !important;
  justify-content: center;
  font-size: 17px;
}

footer p {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.abilities p {
  color: #7d73fc;
  font-size: 14px;
}

.socials {
  display: block;
  margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
}

.socials i {
  padding: 5px;
  font-size: 25px;
}

.first-social {
  display: none !important;
}

.point-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.work {
  padding-left: 8px;
  font-size: 25px;
}

.fa-arrow-down {
  font-size: 20px;
}

.recent-work {
  display: flex;
  flex-wrap: wrap;
  background-image: url(img/ellipse20.svg), url(img/ellipse21.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 22em, right;
}

.recent-work h2 {
  font-size: 2.5rem;
  color: #7d73fc;
  line-height: 52px;
  margin: 5rem 3rem 0 1rem;
  padding-bottom: 30px;
}

.line-divider2 {
  width: 307px;
  margin: 0 auto;
}

.proof {
  width: 327px;
  margin: auto;
}

.proof-space {
  margin-bottom: 60px;
  margin-top: 60px;
}

img {
  width: 100%;
  height: 100%;
}

.project-img {
  height: 15em;
}

.proof h3,
.form-section h3 {
  font-size: 30px;
  margin: 1em 0.5em;
}

.proof p {
  font-size: 17px;
  line-height: 1.5em;
  color: #c8c8d4;
}

.line {
  text-align: center;
  border-right: 1px solid #646369;
  margin-right: 20px;
}

.project-link,
.btn-submit {
  background-color: #7d73fc;
  padding: 0 15px;
  font-size: 12px;
  border: none;
  color: #fff;
}

.project-link:hover {
  background-color: #7d73fc;
  color: #fff;
  font-weight: 700;
}

.project-link:active {
  background-color: #5e42d7;
  color: #fff;
}

input,
textarea {
  width: 80%;
  height: 48px;
  padding: 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

textarea {
  height: 200px;
}

.btn-submit {
  border: none;
  padding: 15px 25px;
  color: #fff;
}

footer {
  margin-bottom: 10%;
  width: 100%;
}

.footer-socials ul {
  margin-bottom: 5px;
  display: flex;
  font-size: 25px;
  justify-content: center;
}

.form-section {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 4rem;
}

.form-section h2 {
  color: #7d73fc;
  margin-bottom: 1rem;
  font-size: 32px;
}

.form-section p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 2rem;
  padding: 0 20px;
}

.btn-submit:disabled {
  background-color: #000;
  color: #fff;
}

.input-form li {
  margin-top: 10px;
  width: 100%;
}

.error-msg {
  color: rgb(217, 255, 4);
}

@media only screen and (min-width: 600px) {
  body {
    width: 100%;
  }

  .mobile-section {
    display: none;
  }

  .hamburger {
    display: none;
  }

  h1 {
    text-align: center;
  }

  .recent-work {
    width: 900px;
    margin: 0 auto;
    background-image: none;
  }

  img {
    width: 100%;
  }

  .project-img {
    width: 100%;
    margin: 0 auto;
  }

  .navbar {
    justify-content: space-between;
  }

  .nav-menu {
    position: initial;
    text-align: justify;
    height: initial;
    width: initial;
    padding-top: initial;
    display: block;
    color: red;
    z-index: 999999;
  }

  form ul li {
    padding-bottom: 5px;
  }

  .nav-menu li {
    font-size: initial;
    line-height: initial;
    display: inline-block;
    padding: 0;
    margin: 0 16px;
  }

  .fa-chevron-right {
    display: none;
  }

  input {
    width: 50%;
    height: 48px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }

  textarea {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  body {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-image: url(img/circle1.svg), url(img/circle2header.svg);
    background-size: 12%;
    background-position: 120px 170px, 1080px 460px;
  }

  main {
    width: 100%;
    margin: 0 auto;
  }

  .menus,
  .fa-envelope {
    display: inline-flex;
  }

  .fa-bars {
    display: none;
    font-size: 20px;
  }

  .menus li {
    padding: 0 13px;
    font-size: 18px;
  }

  .hero {
    margin-top: 7rem !important;
    background-image: none !important;
  }

  .hero h1 {
    color: #7d73fc;
    font-size: 4rem !important;
  }

  .decription {
    width: 80%;
    font-size: 20px;
    line-height: 32px;
    margin-top: 2rem;
  }

  .line-divider {
    width: 75%;
  }

  .abilities {
    display: flex;
    margin-left: 6rem;
    font-size: 14px;
    flex-wrap: wrap;
  }

  .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
  }

  .abilities ul li {
    padding: 0.5em;
    font-size: 20px;
  }

  .title {
    font-size: 20px !important;
    font-weight: 500;
  }

  .socials ul li {
    padding-bottom: 45px;
    font-size: 20px;
  }

  .first-social {
    display: flex !important;
  }

  .work {
    padding-left: 8px;
    font-size: 20px;
  }

  .line-divider2 {
    width: 100% !important;
  }

  .recent-work {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .inner-element p {
    width: 90%;
  }

  .recent {
    margin-bottom: 0;
  }

  .proof {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .project-img {
    margin-right: 3em;
  }

  .proof img {
    width: 400px;
    height: 300px;
    margin-right: 1rem;
  }

  .proof-space {
    margin-bottom: 60px;
    margin-top: 20px;
  }

  .proof p {
    font-size: 16px;
    line-height: 1.5em;
    color: #c8c8d4;
    margin: 20px 0;
  }

  .inner-element {
    width: 100%;
  }

  .proof h3 {
    font-size: 32px;
    margin: 0;
  }

  .form-section h3 {
    margin-bottom: 1em;
  }

  .form-section p {
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
    padding-bottom: 30px;
    line-height: 30px;
  }

  .tools ul {
    margin: 5% 0;
    font-size: 14px;
  }

  .item1 {
    order: 1;
  }

  footer {
    margin-top: 5%;
    width: 100%;
  }
}
