* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #191765;
  background-image: url(img/elipse.svg);
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0 auto;
}

.logo {
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  padding: 15px;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.wrap {
  flex: 1;
}

main {
  margin-bottom: 50px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  flex-direction: column;
  background-image: url(img/ellipse19.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.hero h1 {
  color: #7d73fc;
  font-size: 2.2rem;
  text-align: center;
}

.tag {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-align: center;
}

.decription {
  text-align: center;
  line-height: 1.5em;
  color: #c8c8d4;
  font-size: 18px;
  padding: 0 20px 35px;
  border-bottom: 1px solid #646369;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.abilities {
  display: flex;
  margin: 30px 0;
  font-size: 14px;
  flex-wrap: wrap;
  border-bottom: 1px solid #646369;
  padding-bottom: 40px;
  justify-content: center;
}

footer p {
  text-align: center;
}

.abilities p {
  color: #7d73fc;
  font-size: 14px;
}

.frameworks {
  margin-left: 50px;
  margin-right: 70px;
}

.skills {
  margin-top: 30px;
}

.socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a {
  color: #fff;
  text-decoration: none;
}

.socials i {
  padding: 15px;
  font-size: 25px;
}

.point-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.work {
  padding-left: 8px;
  font-size: 25px;
}

.fa-arrow-down {
  font-size: 20px;
}

.recent-work {
  display: flex;
  flex-wrap: wrap;
  background-image: url(img/ellipse20.svg), url(img/ellipse21.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 22em, right;
}

.recent-work h1 {
  width: 327px;
  font-size: 2.5rem;
  color: #7d73fc;
  line-height: 52px;
  margin: 80px 40px 30px 20px;
  border-bottom: 1px solid #646369;
  padding-bottom: 30px;
}

.proof {
  width: 327px;
  margin: auto;
}

.proof-space {
  margin-bottom: 60px;
}

img {
  width: 100%;
  height: 100%;
}

.project-img {
  height: 15em;
}

.proof h2 {
  font-size: 28px;
  margin: 40px 0 40px 0;
}

.proof p {
  font-size: 17px;
  line-height: 1.5em;
  color: #c8c8d4;
}

.tools ul {
  margin: 10% 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 14px;
}

.line {
  text-align: center;
  border-right: 1px solid #646369;
  margin-right: 20px;
}

.project-link,
.btn-submit {
  background-color: #7d73fc;
  padding: 15px 15px;
  font-size: 12px;
}

.project-link:hover {
  background-color: #7d73fc;
  color: #fff;
  font-weight: 700;
}

.project-link:active {
  background-color: #5e42d7;
  color: #fff;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  border-bottom: 1px solid #3a3837;
}

input,
textarea {
  width: 327px;
  height: 48px;
  padding: 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

textarea {
  height: 200px;
}

.btn-submit {
  border: none;
  padding: 15px 25px;
  color: #fff;
}

footer {
  margin-bottom: 50px;
}

.form-section {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 4rem;
}

.form-section h1 {
  color: #7d73fc;
  margin-bottom: 1rem;
  font-size: 32px;
}

.form-section p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 2rem;
  padding: 0 20px;
}

.btn-submit:disabled {
  background-color: #000;
  color: #fff;
}
